.visual-twoYaxis4DA5F83DD2224E5493885B6268675246_DEBUG .tick line {
  stroke: black;
  opacity: 0.5;
}
.visual-twoYaxis4DA5F83DD2224E5493885B6268675246_DEBUG path.line {
  fill: none;
  stroke: #db2627;
  stroke-width: 3px;
}
